# This role will enable the `multilib` respository in the Pacman package manager

- name: Enable `multilib` repository
  register: archlinux_pacman_enable_multilib
  ansible.builtin.blockinfile:
    path: /etc/pacman.conf
    block: |
      [multilib]
      Include = /etc/pacman.d/mirrorlist
    marker: "# {mark} ANSIBLE MANAGED SECTION - archlinux-pacman-enable-multilib"

- name: Refresh package index
  when: archlinux_pacman_enable_multilib.changed
  community.general.pacman:
    update_cache: yes