- name: Create user `ewout`
  ansible.builtin.user:
    name: ewout
    append: yes
    groups:
      - wheel
    shell: /usr/bin/zsh
    generate_ssh_key: yes
    ssh_key_type: ed25519
    ssh_key_file: .ssh/id_default
    comment: Ewout

- name: Create directories in home directory
  ansible.builtin.file:
    name: /home/ewout/.config/zsh/
    state: directory
    owner: ewout
    group: ewout

- name: Copy files to home directory
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "/home/ewout/{{ item.dest }}"
    owner: ewout
    group: ewout
  loop:
    - { src: zshenv, dest: .zshenv }
    - { src: vimrc, dest: .vimrc }
    - { src: zshrc, dest: .config/zsh/.zshrc }

- name: Download oh-my-zsh install script
  ansible.builtin.get_url:
    url: https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: /home/ewout/oh-my-zsh.sh
    owner: ewout
    group: ewout
    mode: 0755

- name: Install oh-my-zsh
  become: yes
  become_user: ewout
  ansible.builtin.script:
    cmd: ZDOTDIR=/home/ewout/.config/zsh ZSH=/home/ewout/.config/oh-my-zsh CHSH=no RUNZSH=no /home/ewout/oh-my-zsh.sh
    creates: /home/ewout/.config/oh-my-zsh/

- name: Remove `.zshrc` generated by oh-my-zsh
  ansible.builtin.file:
    path: /home/ewout/.zshrc
    state: absent

- name: Symlink Powerlevel10K theme into oh-my-zsh custom themes folder
  ansible.builtin.file:
    src: /usr/share/zsh-theme-powerlevel10k
    path: /home/ewout/.config/oh-my-zsh/custom/themes/powerlevel10k
    state: link
    owner: ewout
    group: ewout
    mode: 0755

- name: Symlink zsh-syntax-highlighting into oh-my-zsh custom plugins folder
  ansible.builtin.file:
    src: /usr/share/zsh/plugins/zsh-syntax-highlighting
    path: /home/ewout/.config/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
    state: link
    owner: ewout
    group: ewout
    mode: 0755
